apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: airlines
data:
  traefik.yaml: |
    http:
      middlewares:
        auth-middleware:
          forwardAuth:
            address: "http://user-service.airlines.svc.cluster.local:8000/api/v1/auth/validate"
            authResponseHeaders:
              - "X-User-Id"
              - "X-User-Email"
              - "X-User-Role"