apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller
  namespace: airlines
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-static-config
  namespace: airlines
data:
  traefik.yml: |
    api:
      insecure: true
    providers:
      kubernetesIngress: {}
      kubernetesCRD: {}
    entryPoints:
      web:
        address: ":80"
    accessLog:
      format: json
    metrics:
      prometheus:
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
    tracing:
      otlp:
        grpc:
          endpoint: "otel-collector.observability.svc.cluster.local:4317"
          insecure: true
      serviceName: traefik
    log:
      level: DEBUG
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: traefik-ingress-controller
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "traefik.containo.us"
      - "traefik.io"
    resources:
      - middlewares
      - middlewaretcps
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
      - traefikservices
      - tlsoptions
      - tlsstores
      - serverstransports
      - serverstransporttcps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses
      - ingressclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
      - networking.k8s.io
    resources:
      - ingresses/status
    verbs:
      - update
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: traefik-ingress-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-ingress-controller
subjects:
  - kind: ServiceAccount
    name: traefik-ingress-controller
    namespace: airlines
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: airlines
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      containers:
      - name: traefik
        image: traefik:v3.0.0
        args:
        - --configfile=/etc/traefik/traefik.yml
        env:
        - name: OTEL_PROPAGATORS
          value: tracecontext,baggage
        ports:
        - containerPort: 80
        - containerPort: 8080
        volumeMounts:
        - name: traefik-static-config
          mountPath: /etc/traefik
      volumes:
      - name: traefik-static-config
        configMap:
          name: traefik-static-config
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: airlines
spec:
  selector:
    app: traefik
  ports:
  - name: web
    port: 80
    targetPort: 80
  - name: dashboard
    port: 8080
    targetPort: 8080
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: traefik
spec:
  controller: traefik.io/ingress-controller
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: auth-middleware
  namespace: airlines
spec:
  forwardAuth:
    address: http://user-service.airlines.svc.cluster.local:8000/api/v1/auth/validate
    authRequestHeaders:
      - Authorization
    authResponseHeaders:
      - X-User-Id
      - X-User-Email
      - X-User-Role
